body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:7px;
  top:8px;
  width:412px;
  height:128px;
}
#u393 {
  position:absolute;
  left:2px;
  top:56px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  position:absolute;
  left:25px;
  top:46px;
  width:243px;
  height:25px;
}
#u394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u395 {
  position:absolute;
  left:300px;
  top:46px;
  width:81px;
  height:25px;
}
#u395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:27px;
  top:19px;
  width:71px;
  height:16px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  position:absolute;
  left:7px;
  top:158px;
  width:412px;
  height:125px;
}
#u399 {
  position:absolute;
  left:2px;
  top:54px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400 {
  position:absolute;
  left:25px;
  top:200px;
  width:243px;
  height:25px;
}
#u400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u401 {
  position:absolute;
  left:300px;
  top:200px;
  width:81px;
  height:25px;
}
#u401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:27px;
  top:169px;
  width:71px;
  height:16px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u404 {
  position:absolute;
  left:25px;
  top:88px;
  width:356px;
  height:32px;
  font-size:12px;
  color:#FF0000;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u406 {
  position:absolute;
  left:25px;
  top:235px;
  width:356px;
  height:38px;
  font-size:12px;
  color:#FF0000;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
