body{background-color: #cad9e1;}

.login-bg{width: 100%;
	min-width: 1100px;
	height: auto;
	position: absolute;
	bottom: 0;}
.login-div{width: 480px;
	height: 400px;
	position: absolute;
	left:50%;top:50%;
	margin-left:-240px;
	margin-top:-200px;
	background-image: url(../images/blackBG.png);
	background-repeat: repeat;
	border: solid 1px #bfc7ce;
	padding: 20px;}
.login-div h2{color: white !important;
	text-align: center;}
.login-div hr{border-color: #bdc0ba;}
.login-div .fa{color: white;font-size: 20px;}
.input-group{padding: 0 60px;}
.input-group .input-group-addon{background-color: inherit;
	border: none;
	border-bottom: solid 1px #bdc0ba;
	border-radius: 0;}
.login-div input{background-color: inherit;
	color: #bdc0ba !important;
	border: none;
	box-shadow: none;
	border-bottom: solid 1px #bdc0ba;}
.login-div input:focus{box-shadow: none;
	border-bottom: solid 1px #bdc0ba;}

.login-div input:-ms-input-placeholder{
    color: #949790;opacity:1;
}

.login-div input::-webkit-input-placeholder{
    color: #949790;opacity:1;
} 
.form-group{margin-top: 30px;}
.login-button{padding: 20px 60px;}
.login-button .btn-primary{width: 100%;
	background-color: #4797ea;
	border-color: #1f7cdd;}
.login-button a{color: #bdc0ba !important;
	text-align: right;}
.code{
	background-color: white;
    font-family:Arial;
    font-style:italic;
     color:blue;
     font-size:22px;
     border:0;
     padding:2px 3px;
     letter-spacing:3px;
     font-weight:bolder;             
     float:left;            
     cursor:pointer;
     width:100px;
     height:30px;
     line-height:30px;
     text-align:center;
     vertical-align:middle;
}
.login-a{color: #4797ea !important;
line-height: 30px;
display: block;
float: left;
margin-left: 5px;text-decoration: none !important;}

