body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:7px;
  top:8px;
  width:360px;
  height:128px;
}
#u234 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:25px;
  top:46px;
  width:205px;
  height:25px;
}
#u235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u236 {
  position:absolute;
  left:249px;
  top:46px;
  width:81px;
  height:25px;
}
#u236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:27px;
  top:19px;
  width:71px;
  height:16px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:7px;
  top:158px;
  width:360px;
  height:125px;
}
#u240 {
  position:absolute;
  left:2px;
  top:54px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:25px;
  top:200px;
  width:205px;
  height:25px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u242 {
  position:absolute;
  left:249px;
  top:200px;
  width:81px;
  height:25px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:27px;
  top:169px;
  width:71px;
  height:16px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u245 {
  position:absolute;
  left:25px;
  top:88px;
  width:314px;
  height:32px;
  font-size:12px;
  color:#FF0000;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u247 {
  position:absolute;
  left:25px;
  top:235px;
  width:314px;
  height:38px;
  font-size:12px;
  color:#FF0000;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  position:absolute;
  left:7px;
  top:303px;
  width:360px;
  height:123px;
}
#u250 {
  position:absolute;
  left:2px;
  top:54px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:25px;
  top:349px;
  width:205px;
  height:25px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252 {
  position:absolute;
  left:249px;
  top:349px;
  width:81px;
  height:25px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:27px;
  top:314px;
  width:71px;
  height:16px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u255 {
  position:absolute;
  left:25px;
  top:384px;
  width:314px;
  height:32px;
  font-size:12px;
  color:#FF0000;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
